<div class="alert alert-block alert-success">
    <b><h2>Karar Ağaçları (DecisionTreeRegressor)</h2></b> 
        <ul> <li>Modeldeki verilerden yola çıkarak bir ağaç yapısı oluşturulur ve buna göre sınıflama yada regresyon problemlerine çözüm üretilir
    <br> 
    </ul>
        <img src="https://thecodestories.com/wp-content/uploads/2020/04/boston_d2.png"  width=500 title="Karar Ağacı Örnek Yapısı" />
</div>

#### Bu bölümde işlenecek konular

1. [Eğitilecek modelde DataFrame oluşturma](#bir)
2. [Karar Ağacı Model Oluşturma](#iki)
3. [Karar ağacı modelini eğitme](#uc)
4. [Karar ağacı test etme](#dort)

In [3]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [4]:
data=pd.read_csv('./Data/melbourne-housing-snapshot/melb_data.csv')

In [5]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [6]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

<div id="bir"  style="color:blue;"> 1. Eğitilecek modelde hangi sütunları kullanacağımızı seçiyoruz</div>

In [7]:
features= ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']
X=data[features]

In [8]:
y=data.Price

In [9]:
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [10]:
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

<div id="iki"  style="color:blue;"> 2. Karar ağacı modeli oluşturma</div>
<ul>
      <li>random_state=0 ile her çalıştırma da aynı veri setini elde etmek için kullanıyoruz</li>
    <li>Karar ağacı kütüphanesini en başta import etmiştik. <i>from sklearn.tree import DecisionTreeRegressor</i></li>
</ul>

In [11]:
model=DecisionTreeRegressor(random_state=0)

<div id="uc" style="color:blue;"> 3. Karar ağacı modeli eğitimi</div>
<ul>
      <li>fit ile modeli eğitmeye başlarız. Burada X eğitim için kullanılan özellikler, y ise etikettir</li>
</ul>

In [12]:
model.fit(X,y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

<div id="dort" style="color:blue;"> 4. Karar ağacı eğitilen modeli test etme</div>
<ul>
      <li>predict ile modeli test edebiliriz. Burda eğitim verisi ile test edildiği için tam isabetle tahmin edecektir</li>
</ul>

In [13]:
model.predict(X.head())

array([1480000., 1035000., 1465000.,  850000., 1600000.])

In [14]:
y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64