<div class="alert alert-block alert-success">
    <b><h2>Underfitting(Eksik Öğrenme) Overfitting(Aşırı Öğrenme)</h2></b> 
    <br> <h3>Underfitting</h3>Modelin eğitim için kullanılan veri setini öğrenemediği, tutarsız ve yetersiz veri seti olduğu, modelin farklılıkları kavrayamadığı durumdur. Underfitting önlemek için bazı yöntemleri vardır
    <ul>
     <li>Veri setini artırma</li>
     <li>Öznitelik artırımı yapmak</li>
     <li>Regularizasyon işlemleri</li>
</ul>
    <br> <h3>Overfitting</h3>Bir eğitimdeki kullanılan veri setinin, model tarafından çok iyi öğrenildiği durumdur. Bu durumda, eğitim sırasında kullanılan modeli artık ezberlenmeye başlandığı ve farklı veriler üzerinde tahmini başarısızlıkla sonuçlandıran durumdur. Overfitting önlemek için bazı yöntemler vardır<br>
    <ul>
     <li>Veri setini artırma</li>
     <li>Öznitelik seçiminin dikkatli yapılması</li>
     <li>Regularizasyon işlemleri</li>
</ul>
        <img src="https://miro.medium.com/proxy/1*_7OPgojau8hkiPUiHoGK_w.png"  width=500 title="Karar Ağacı Örnek Yapısı" />
</div>

#### Bu bölümde işlenecek konular

1. [Karar Ağacı Model Oluşturma](#bir)
2. [Karar ağacı modelini eğitme](#iki)

In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split

In [6]:
data=pd.read_csv('./Data/melbourne-housing-snapshot/melb_data.csv')

In [7]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [8]:
data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [9]:
data=data.dropna(axis=0)

In [10]:
data.isnull().sum()

Suburb           0
Address          0
Rooms            0
Type             0
Price            0
Method           0
SellerG          0
Date             0
Distance         0
Postcode         0
Bedroom2         0
Bathroom         0
Car              0
Landsize         0
BuildingArea     0
YearBuilt        0
CouncilArea      0
Lattitude        0
Longtitude       0
Regionname       0
Propertycount    0
dtype: int64

In [11]:
features= ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea','YearBuilt', 'Lattitude', 'Longtitude']
X=data[features]

In [12]:
y=data.Price

In [13]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0)

<div id="bir"  style="color:blue;"> 1. Karar ağacı modeli için fonksiyon oluşturma</div>
<ul>
    <li>Fonksiyon yaprak düğüm sayısı, eğitim ve test verilerini almaktadır</li>
    <li>Dönüş olarak ise mutlak hatayı (MAE) döndermektedir</li>
      <li>Karar ağaçlarındaki ağaç yapısı overfitting ve underfitting için önemli bir değerdir</li>
    <li>max_leaf_nodes ağaçdaki yaprak düğüm sayısını temsil etmektedir</li>
    <li>Ağaçtaki yaprak düğüm sayısının en uygun seçilmesi, modelin başarımını artıracaktır </li>
</ul>

In [14]:
def train(max_leaf_nodes,X_train,X_test,y_train,y_test):
    model=DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes,random_state=0)
    model.fit(X_train,y_train)
    pred=model.predict(X_test)
    return (mean_absolute_error(y_test,pred))

<div id="iki"  style="color:blue;"> 2. En iyi max_leaf_nodes (yaprak düğüm) sayısını bulma</div>
<ul>
      <li>Değişik max_leaf_nodes değerleri için fonksiyonu çağırıyoruz</li>
    <li>5 de underfitting olduğunu söyleyebiliriz. Model eğitimi tamamlayamadı az öğrendi.</li>
    <li>5000 ise overfitting'den söz edebiliriz. Model artık aşırı öğrenmeye başladı</li>
    <li>500 ise en başarılı sonucu verdi diyebiliriz</li>
</ul>

In [19]:
for i in [5,50,500,5000]:
    mae=train(i,X_train,X_test,y_train,y_test)
    print(mae)

347380.33833344496
258171.21202406782
243495.96361790417
254983.64299548094